{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="alert alert-info">
        {{ message }}
        {% if "Model has been created" in message %}
        <a href="{{ url_for('model_history') }}"><i>View Model Training History</i></a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow">
                <h5 class="card-header bg-primary text-white">Modelling</h5>
                <div class="card-body">
                    <p class="card-text">Go to the modeling page to create or update your model.</p>
                </div>
                <div class="card-footer bg-light">
                    <small class="text-muted text-center"><a href="/modelling" class="stretched-link">Go to
                            Modeling</a></small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <h5 class="card-header bg-success text-white">Forecasting</h5>
                <div class="card-body">
                    <p class="card-text">Go to the forecasting page to make predictions.</p>
                </div>
                <div class="card-footer bg-light">
                    <small class="text-muted text-center"><a href="/forecasting" class="stretched-link">Go to
                            Forecasting</a></small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow">
                <h5 class="card-header bg-warning text-white">Realtime Early Warning</h5>
                <div class="card-body">
                    <p class="card-text">Go to the Realtime Early Warning page to monitor alerts.</p>
                </div>
                <div class="card-footer bg-light">
                    <small class="text-muted text-center"><a href="/realtime" class="stretched-link">Go to Realtime
                            Early Warning</a></small>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        margin-bottom: 20px;
        /* Jarak antar kartu */
    }

    .card:hover {
        transform: translateY(-5px);
        /* Angkat kartu sedikit saat dihover */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Efek bayangan */
    }

    .card-header {
        padding: 10px;
        /* Padding untuk header kartu */
    }

    .card-footer {
        padding: 5px 10px;
        /* Padding untuk footer kartu */
    }

    .card-footer a {
        color: green;
        /* Warna teks */
        text-decoration: none;
        /* Hapus garis bawah */
    }
</style>

{% endblock %}